/* Write your code here. */
.thumbnail-image {
  width: 60px;
}

.thumbnail-opacity {
  opacity: 0.5;
}
.listItem {
  margin-right: 20px;
  margin-bottom: 20px;
}
.button {
  background-color: transparent;
  border-style: none;
}
